<?xml version="1.0" encoding="utf-8"?>
<!-- AsynSocketTester app.config -->
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwConfigExceptions="true">
		<targets>
			<!--<target name="logconsole" xsi:type="Console" />-->
			<target name="logfile" xsi:type="File" fileName="C://Users//nedlecky//Desktop//LEonardFiles//Logs//AsyncSocketTester.log" archiveAboveSize="10000000" maxArchiveFiles="10">
			</target>
			<target name="AllLogRTB" xsi:type="RichTextBox" formName="MainForm" controlName="AllLogRTB" autoScroll="true" maxLines="2000" useDefaultRowColoringRules="false" layout="${time}|${level}|${message}">
				<row-coloring condition="level &gt;= LogLevel.Error" fontColor="Red"/>
				<row-coloring condition="contains(message,'==&gt;')" fontColor="Green"/>
				<row-coloring condition="contains(message,'&lt;==')" fontColor="Blue"/>
			</target>
			<target name="CommLogRTB" xsi:type="RichTextBox" formName="MainForm" controlName="CommLogRTB" autoScroll="true" maxLines="2000" useDefaultRowColoringRules="false" layout="${time}|${level}|${message}">
				<row-coloring condition="contains(message,'==&gt;')" fontColor="Green"/>
				<row-coloring condition="contains(message,'&lt;==')" fontColor="Blue"/>
			</target>
			<target name="ErrorLogRTB" xsi:type="RichTextBox" formName="MainForm" controlName="ErrorLogRTB" autoScroll="true" maxLines="2000" useDefaultRowColoringRules="false" layout="${time}|${level}|${message}">
				<row-coloring condition="true" fontColor="Red"/>
			</target>

		</targets>

		<rules>
			<!--<logger name="*" minlevel="Info" writeTo="logconsole" />-->
			<logger name="*" minlevel="Trace" writeTo="logfile"/>
			<logger name="*" minlevel="Trace" writeTo="AllLogRTB"/>
			<logger name="*" minlevel="Error" writeTo="ErrorLogRTB"/>
			<logger name="*" minlevel="Trace" writeTo="CommLogRTB">
				<filters defaultAction="Ignore">
					<when condition="contains('${message}','==&gt;') or contains('${message}','&lt;==')" action="Log"/>
				</filters>
			</logger>
		</rules>
	</nlog>

</configuration>
