<?xml version="1.0" encoding="utf-8" ?>
<!-- LEonard app.config 
-->
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  throwConfigExceptions="true">

		<targets>
			<target name="logconsole" xsi:type="Console" />
			<target name="logfile"
					xsi:type="File"
					fileName="${basedir}..//..//..//LEonard.log"
					archiveAboveSize ="1000000"
					maxArchiveFiles="10">
			</target>
			<target name="AllLogRTB"
					xsi:type="RichTextBox"
					formName="MainForm"
					controlName="AllLogRTB"
					autoScroll="true"
					useDefaultRowColoringRules="false">
				<row-coloring condition="level >= LogLevel.Error" fontColor="Red" backgroundColor="White" style="Underline" />
				<row-coloring condition="contains(message,'==>')" fontColor="Green" backgroundColor="White" style="Underline" />
				<row-coloring condition="contains(message,'&lt;==')" fontColor="Blue" backgroundColor="White" style="Underline" />
			</target>
			<target name="ErrorLogRTB"
					xsi:type="RichTextBox"
					formName="MainForm"
					controlName="ErrorLogRTB"
					autoScroll="true"
					maxLines="2000"
					useDefaultRowColoringRules="false"
					layout="${longdate}|${message}">
				<row-coloring condition="contains(message,'serious')" fontColor="Red" backgroundColor="White" style="Underline" />
			</target>
			<target name="ControlLogRTB"
					xsi:type="RichTextBox"
					formName="MainForm"
					controlName="ControlLogRTB"
					autoScroll="true"
					maxLines="2000"
					useDefaultRowColoringRules="false">
				<row-coloring condition="level >= LogLevel.Error" fontColor="Red" backgroundColor="White" style="Underline" />
				<row-coloring condition="contains(message,'==>')" fontColor="Green" backgroundColor="White" style="Underline" />
				<row-coloring condition="contains(message,'&lt;==')" fontColor="Blue" backgroundColor="White" style="Underline" />
			</target>
			<target name="Aux1LogRTB"
					xsi:type="RichTextBox"
					formName="MainForm"
					controlName="Aux1LogRTB"
					autoScroll="true"
					maxLines="2000"
					useDefaultRowColoringRules="false">
				<row-coloring condition="level >= LogLevel.Error" fontColor="Red" backgroundColor="White" style="Underline" />
				<row-coloring condition="contains(message,'==>')" fontColor="Green" backgroundColor="White" style="Underline" />
				<row-coloring condition="contains(message,'&lt;==')" fontColor="Blue" backgroundColor="White" style="Underline" />
			</target>
			<target name="Aux2LogRTB"
					xsi:type="RichTextBox"
					formName="MainForm"
					controlName="Aux2LogRTB"
					autoScroll="true"
					maxLines="2000"
					useDefaultRowColoringRules="false">
				<row-coloring condition="level >= LogLevel.Error" fontColor="Red" backgroundColor="White" style="Underline" />
				<row-coloring condition="contains(message,'==>')" fontColor="Green" backgroundColor="White" style="Underline" />
				<row-coloring condition="contains(message,'&lt;==')" fontColor="Blue" backgroundColor="White" style="Underline" />
			</target>
			<target name="Aux3LogRTB"
					xsi:type="RichTextBox"
					formName="MainForm"
					controlName="Aux3LogRTB"
					autoScroll="true"
					maxLines="2000"
					useDefaultRowColoringRules="false">
				<row-coloring condition="level >= LogLevel.Error" fontColor="Red" backgroundColor="White" style="Underline" />
				<row-coloring condition="contains(message,'==>')" fontColor="Green" backgroundColor="White" style="Underline" />
				<row-coloring condition="contains(message,'&lt;==')" fontColor="Blue" backgroundColor="White" style="Underline" />
			</target>
			<target name="JavaScriptConsoleRTB"
					xsi:type="RichTextBox"
					formName="MainForm"
					controlName="JavaScriptConsoleRTB"
					autoScroll="true"
					maxLines="2000"
					useDefaultRowColoringRules="false">
				<row-coloring condition="level >= LogLevel.Error" fontColor="Red" backgroundColor="White" style="Underline" />
			</target>
		</targets>

		<rules>
			<logger name="*" minlevel="Info" writeTo="logconsole" />
			<logger name="*" minlevel="Trace" writeTo="logfile" />
			<logger name="*" minlevel="Trace" writeTo="AllLogRTB" />
			<logger name="*" minlevel="Error" writeTo="ErrorLogRTB" />
			<logger name="*" minlevel="Trace" writeTo="ControlLogRTB">
				<filters defaultAction='Ignore'>
					<when condition="contains('${message}','CTL')" action="Log" />
				</filters>
			</logger>
			<logger name="*" minlevel="Trace" writeTo="Aux1LogRTB">
				<filters defaultAction='Ignore'>
					<when condition="contains('${message}','AUX1')" action="Log" />
				</filters>
			</logger>
			<logger name="*" minlevel="Trace" writeTo="Aux2LogRTB">
				<filters defaultAction='Ignore'>
					<when condition="contains('${message}','AUX2')" action="Log" />
				</filters>
			</logger>
			<logger name="*" minlevel="Trace" writeTo="Aux3LogRTB">
				<filters defaultAction='Ignore'>
					<when condition="contains('${message}','AUX3')" action="Log" />
				</filters>
			</logger>
			<logger name="*" minlevel="Trace" writeTo="JavaScriptConsoleRTB">
				<filters defaultAction='Ignore'>
					<when condition="contains('${message}','JsPrint')" action="Log" />
				</filters>
			</logger>
		</rules>
	</nlog>
</configuration>