<?xml version="1.0" encoding="utf-8" ?>
<!-- LEonard app.config 
-->
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  throwConfigExceptions="true">

		<targets>
			<target name="logconsole" xsi:type="Console" />
			<target name="logfile" xsi:type="File" fileName="LEonard.log" />
			<target name="allcrawl"
					xsi:type="RichTextBox"
					controlName="AllCrawlRTB"
					formName="MainForm"
					useDefaultRowColoringRules="false">
				<row-coloring condition="level >= LogLevel.Error" fontColor="Red" backgroundColor="White" style="Underline" />
				<row-coloring condition="contains(message,'==>')" fontColor="Green" backgroundColor="White" style="Underline" />
				<row-coloring condition="contains(message,'&lt;==')" fontColor="Blue" backgroundColor="White" style="Underline" />
			</target>
			<target name="errorcrawl"
					xsi:type="RichTextBox"
					formName="MainForm"
					controlName="ErrorCrawlRTB"
					autoScroll="true"
					useDefaultRowColoringRules="false"
					layout="${longdate}|${message}">
				<row-coloring condition="contains(message,'serious')" fontColor="Red" backgroundColor="White" style="Underline" />
			</target>
			<target name="commcrawl"
					xsi:type="RichTextBox"
					controlName="CommandCrawlRTB"
					formName="MainForm"
					useDefaultRowColoringRules="false">
				<row-coloring condition="level >= LogLevel.Error" fontColor="Red" backgroundColor="White" style="Underline" />
				<row-coloring condition="contains(message,'==>')" fontColor="Green" backgroundColor="White" style="Underline" />
				<row-coloring condition="contains(message,'&lt;==')" fontColor="Blue" backgroundColor="White" style="Underline" />
			</target>
		</targets>

		<rules>
			<!--<logger name="*" minlevel="Info" writeTo="logconsole" />-->
			<logger name="*" minlevel="Trace" writeTo="logfile" />
			<logger name="*" minlevel="Trace" writeTo="allcrawl" />
			<logger name="*" minlevel="Error" writeTo="errorcrawl" />
			<logger name="*" minlevel="Trace" writeTo="commcrawl">
				<filters defaultAction='Ignore'>
					<when condition="contains('${message}','COMM')" action="Log" />
				</filters>
			</logger>
		</rules>
	</nlog>
</configuration>