<?xml version="1.0" encoding="utf-8"?>
<!-- Lecky Engineering LEonard app.config -->
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      throwConfigExceptions="true">
		<targets>
			<target name="logfile"
					xsi:type="File"
					fileName="${var:LogfileName}"
					archiveAboveSize="25000000"
					maxArchiveFiles="40">
			</target>
			<target name="AllLogRTB" xsi:type="RichTextBox" formName="MainForm" controlName="AllLogRTB" autoScroll="true" maxLines="1000" useDefaultRowColoringRules="false" layout="${time}|${level}|${message}">
				<row-coloring condition="level == LogLevel.Error" fontColor="Red"/>
				<row-coloring condition="level == LogLevel.Warn" fontColor="Orange"/>
				<row-coloring condition="contains(message,'==&gt;')" fontColor="Green"/>
				<row-coloring condition="contains(message,'&lt;==')" fontColor="Blue"/>
			</target>
			<target name="ExecLogRTB" xsi:type="RichTextBox" formName="MainForm" controlName="ExecLogRTB" autoScroll="true" maxLines="1000" useDefaultRowColoringRules="false" layout="${time}|${level}|${message}">
				<row-coloring condition="level == LogLevel.Error" fontColor="Red"/>
				<row-coloring condition="level == LogLevel.Warn" fontColor="Orange"/>
				<row-coloring condition="contains(message,'==&gt;')" fontColor="Green"/>
				<row-coloring condition="contains(message,'&lt;==')" fontColor="Blue"/>
			</target>
			<target name="RobotLogRTB" xsi:type="RichTextBox" formName="MainForm" controlName="RobotLogRTB" autoScroll="true" maxLines="1000" useDefaultRowColoringRules="false" layout="${time}|${level}|${message}">
				<row-coloring condition="level == LogLevel.Error" fontColor="Red"/>
				<row-coloring condition="level == LogLevel.Warn" fontColor="Orange"/>
				<row-coloring condition="contains(message,'==&gt;')" fontColor="Green"/>
				<row-coloring condition="contains(message,'&lt;==')" fontColor="Blue"/>
			</target>
			<target name="AuxLogRTB" xsi:type="RichTextBox" formName="MainForm" controlName="AuxLogRTB" autoScroll="true" maxLines="1000" useDefaultRowColoringRules="false" layout="${time}|${level}|${message}">
				<row-coloring condition="level == LogLevel.Error" fontColor="Red"/>
				<row-coloring condition="level == LogLevel.Warn" fontColor="Orange"/>
				<row-coloring condition="contains(message,'==&gt;')" fontColor="Green"/>
				<row-coloring condition="contains(message,'&lt;==')" fontColor="Blue"/>
			</target>
			<target name="ErrorLogRTB" xsi:type="RichTextBox" formName="MainForm" controlName="ErrorLogRTB" autoScroll="true" maxLines="1000" useDefaultRowColoringRules="false" layout="${time}|${level}|${message}">
				<row-coloring condition="level == LogLevel.Error" fontColor="Red"/>
				<row-coloring condition="level == LogLevel.Warn" fontColor="Orange"/>
			</target>
		</targets>

		<variable name="myLevel" value="Info"/>
		<rules>
			<logger name="*" minlevel="${var:myLevel}" writeTo="logfile"/>
			<logger name="*" minLevel="${var:myLevel}" writeTo="AllLogRTB">
			</logger>
			<logger name="*" minLevel="${var:myLevel}" writeTo="ExecLogRTB">
				<filters defaultAction="Ignore">
					<when condition="contains('${message}','EXEC')" action="Log"/>
				</filters>
			</logger>
			<logger name="*" minLevel="${var:myLevel}" writeTo="RobotLogRTB">
				<filters defaultAction="Ignore">
					<when condition="contains('${message}','ROB')" action="Log"/>
				</filters>
			</logger>
			<logger name="*" minLevel="${var:myLevel}" writeTo="AuxLogRTB">
				<filters defaultAction="Ignore">
					<when condition="contains('${message}','AUX')" action="Log"/>
				</filters>
			</logger>
			<logger name="*" minlevel="Warn" writeTo="ErrorLogRTB"/>
		</rules>
	</nlog>


</configuration>
