<?xml version="1.0" encoding="utf-8"?>
<!-- LEonardClient app.config 
-->
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  throwConfigExceptions="true">
		<targets>
			<target name="logconsole" xsi:type="Console" />
			<target name="logfile"
					xsi:type="File"
					fileName="${basedir}..//..//..//LEonardClient.log"
					archiveAboveSize ="1000000"
					maxArchiveFiles="10">
			</target>
			<target name="CrawlerRTB"
					xsi:type="RichTextBox"
					formName="ClientForm"
					controlName="CrawlerRTB"
					autoScroll="true"
					useDefaultRowColoringRules="false">
				<row-coloring condition="level >= LogLevel.Error" fontColor="Red" backgroundColor="White" style="Underline" />
				<row-coloring condition="contains(message,'==>')" fontColor="Green" backgroundColor="White" style="Underline" />
				<row-coloring condition="contains(message,'&lt;==')" fontColor="Blue" backgroundColor="White" style="Underline" />
			</target>
			<target name="CommRTB"
					xsi:type="RichTextBox"
					formName="ClientForm"
					controlName="CommRTB"
					autoScroll="true"
					useDefaultRowColoringRules="false"
					layout="${longdate}|${message}">
				<row-coloring condition="contains(message,'==>')" fontColor="Green" backgroundColor="White" style="Underline" />
				<row-coloring condition="contains(message,'&lt;==')" fontColor="Blue" backgroundColor="White" style="Underline" />
				<row-coloring condition="contains(message,'==')" fontColor="Yellow" backgroundColor="White" style="Underline" />
			</target>
		</targets>

		<rules>
			<!--<logger name="*" minlevel="Info" writeTo="logconsole" />-->
			<logger name="*" minlevel="Trace" writeTo="logfile" />
			<logger name="*" minlevel="Trace" writeTo="CrawlerRTB" />
			<logger name="*" minlevel="Trace" writeTo="CommRTB">
				<filters defaultAction='Ignore'>
					<when condition="contains('${message}','==>') or contains('${message}','&lt;==')" action="Log" />
				</filters>
			</logger>
		</rules>
	</nlog>
</configuration>
